BANCIWS_docs/reqUploadFisier.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="mfp:anaf:dgti:banci:reqUploadFisier:v1"
	targetNamespace="mfp:anaf:dgti:banci:reqUploadFisier:v1" elementFormDefault="qualified"
	attributeFormDefault="unqualified" version="1.0" xml:lang="ro">
	<xs:element name="header">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:sequence>
						<xs:element name="upload" type="uploadType"/>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="uploadType">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">			

				<xs:attribute name="fisier" type="xs:string" use="required"/>			

			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	
</xs:schema>
