BANCIWS_docs/respListaRaspunsuri.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="mfp:anaf:dgti:banci:respListaRaspunsuri:v1"
	targetNamespace="mfp:anaf:dgti:banci:respListaRaspunsuri:v1" elementFormDefault="qualified"
	attributeFormDefault="unqualified" version="1.0" xml:lang="ro">
	<xs:element name="header">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:sequence>
						<xs:element name="listaRaspunsuri" type="listaMesajeType" maxOccurs="unbounded" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="Mesaj_eroare" type="Str4000"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="listaMesajeType">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">			
				<xs:attribute name="Cui_banca" type="CuiSType" use="required"/>
				<xs:attribute name="req_id_anaf" type="IntPoz15SType" use="required"/>			
				<xs:attribute name="index_incarcare" type="IntPoz15SType"  use="required"/>
				<xs:attribute name="Data_raspuns" type="TimeStampSType"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>


	<xs:simpleType name="IntInt0_1SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
		<xs:simpleType name="Str4">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
		</xs:simpleType>

	<xs:simpleType name="Str4000">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str8">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str50">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str500">
		<xs:restriction base="xs:string">
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntPoz15SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999999999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CifSType">
		<xs:restriction base="xs:token">
			<xs:pattern value="[1-9]\d{12}|[1-9]\d{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CnpSType">
		<xs:restriction base="xs:token">
			<xs:pattern value="[1-9]\d{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CuiSType">
		<xs:restriction base="xs:token">
			<xs:pattern value="[1-9]\d{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateSType">
		<xs:restriction base="xs:token">
			<xs:pattern value="([1-9]|0[1-9]|[12][0-9]|3[01])\.([1-9]|0[1-9]|1[012])\.\d{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TimeStampSType">
		<xs:restriction base="xs:token">
			<xs:pattern value="([0-9]{4})([0-1][0-9])([0-3][0-9])([0-1][0-9]|[2][0-3])([0-5][0-9])"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
